@media only screen and (max-width: 360px) {
    .main-nav .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-nav .logo h2{
        font-size: 30px;
       letter-spacing: 3px;
    }
    nav{
        height: 3rem;
        display: flex;
        margin-right: 3%;
    }
    nav ul li a{
        height: 100%;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        position: relative;
        font-size: 10px;
        border-right: 3px solid var(--color-black);
        transition: var(--transition);
      }
    nav .search-box{
        width: 130px;
    }
    nav .search-box input{
        width: 117px;
    }
}